<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prueba Tecnica Frontend</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <header class="header">
        <div class="logo"></div>
        <div class="botn-2"><div class="botn-3 valign-text-middle inter-medium-white-16px">botón</div></div>
        <div class="botn-1"><div class="botn-4 valign-text-middle inter-medium-white-16px">botón</div></div>
        <div class="botn-1"><div class="botn-5 valign-text-middle inter-medium-white-16px">botón</div></div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer">
        <div class="botn-9"><div class="botn-6 valign-text-middle inter-medium-white-16px">botón</div></div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

@*
    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

*@
</html>


